#stats {
  ul.listing {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 15px;
      height: 70px;
      border-bottom: 1px #e0e0e0 solid;
      color: #757575;

      display: flex;
      align-items: center;
      font-size: 18px;

      > div, > span {
        margin-right: 15px;
      }

      .item-main {
        flex-grow: 1;

        .item-sub {
          font-size: 14px;
        }
      }

      .icon {
        position: relative;
        top: 3px;
      }
    }
  }

  table#stats-table {
    margin-top: 35px;
    width: 100%;
    table-layout: fixed;

    td {
      overflow-x: hidden;
      white-space: normal;
      word-wrap: break-word;
    }

  }

  .modal-dialog-container {
    position: fixed;
    width: 100vw;
    top: 120px;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;

    .modal-dialog {
      display: block;
      padding: 1em;
      color: rgba(0,0,0,.54);
      width: 100%;
      max-width: 280px;
      background-color: white;
      box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);

      .content {
        font-size: 16px;
        padding: 14px 12px;

        .field {
          &:not(:last-child) {
            margin-bottom: 25px;
          }

          .name {
            display: block;
            font-weight: bold;
          }
        }
      }

      .actions {
        display: flex;
        flex-direction: row-reverse;
        padding: 8px 8px 8px 24px;
      }
    }
  }
}
